In [1]:
import numpy as np
import pandas as pd

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [3]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
#Удаляем Name, т.к. бесполезно
train.drop('Name', axis=1, inplace=True)
test.drop('Name', axis=1, inplace=True)

### Смотрим, какие признаки содержат пропуски

In [5]:
total = train.isnull().sum().sort_values(ascending=False)
percent = total / train.shape[0] * 100
statistic = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])

In [6]:
statistic.head()

          Total    Percent
Cabin       687  77.104377
Age         177  19.865320
Embarked      2   0.224467
Fare          0   0.000000
Ticket        0   0.000000

In [7]:
#Удаляем Cabin (слишком много пропусков)
train.drop('Cabin', axis=1, inplace=True)
test.drop('Cabin', axis=1, inplace=True)

In [8]:
#Обьединим кол-во родственников на корабле в один признак

train['family_members_on_board'] = train['SibSp'] + train['Parch']
train.drop(['SibSp', 'Parch', 'Embarked', 'Ticket'], axis=1, inplace=True)

test['family_members_on_board'] = test['SibSp'] + test['Parch']
test.drop(['SibSp', 'Parch', 'Embarked', 'Ticket'], axis=1, inplace=True)

In [9]:
train.fillna(0,inplace=True)
test.fillna(0,inplace=True)

In [10]:
train.head()

,PassengerId,Survived,Pclass,Sex,Age,Fare,family_members_on_board
0,1,0,3,male,22.0,7.2500,1
1,2,1,1,female,38.0,71.2833,1
2,3,1,3,female,26.0,7.9250,0
3,4,1,1,female,35.0,53.1000,1
4,5,0,3,male,35.0,8.0500,0

In [11]:
train['Sex'][train['Sex'] == 'male'] = 0
train['Sex'][train['Sex'] == 'female'] = 1

test['Sex'][test['Sex'] == 'male'] = 0
test['Sex'][test['Sex'] == 'female'] = 1

/Users/avgalichin/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/avgalichin/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/avgalichin/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Users/avgalichin/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

### Кодируем Embarked при помощи one-hot-encoder'а

In [12]:
X = train.drop('Survived', axis=1)
Y = train['Survived']

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=40)

In [15]:
#pip install catboost

### Модель

In [16]:
from catboost import CatBoostClassifier

In [17]:
clf = CatBoostClassifier(eval_metric='Accuracy', use_best_model=True, random_seed=42)

In [18]:
clf.fit(X_train, Y_train, eval_set=(X_test, Y_test), early_stopping_rounds=50)

Learning rate set to 0.029139
0:	learn: 0.7851124	test: 0.7932961	best: 0.7932961 (0)	total: 52.3ms	remaining: 52.3s
1:	learn: 0.7823034	test: 0.8100559	best: 0.8100559 (1)	total: 53.7ms	remaining: 26.8s
2:	learn: 0.8089888	test: 0.8324022	best: 0.8324022 (2)	total: 55.6ms	remaining: 18.5s
3:	learn: 0.8160112	test: 0.8268156	best: 0.8324022 (2)	total: 57.1ms	remaining: 14.2s
4:	learn: 0.8160112	test: 0.8268156	best: 0.8324022 (2)	total: 58.2ms	remaining: 11.6s
5:	learn: 0.8075843	test: 0.8268156	best: 0.8324022 (2)	total: 59.9ms	remaining: 9.91s
6:	learn: 0.8075843	test: 0.8268156	best: 0.8324022 (2)	total: 61ms	remaining: 8.65s
7:	learn: 0.8075843	test: 0.8268156	best: 0.8324022 (2)	total: 62ms	remaining: 7.69s
8:	learn: 0.8075843	test: 0.8268156	best: 0.8324022 (2)	total: 63.5ms	remaining: 6.99s
9:	learn: 0.8075843	test: 0.8268156	best: 0.8324022 (2)	total: 64.5ms	remaining: 6.38s
10:	learn: 0.8075843	test: 0.8268156	best: 0.8324022 (2)	total: 65.5ms	remaining: 5.89s
11:	learn: 0.8075843	test: 0.8268156	best: 0.8324022 (2)	total: 66.4ms	remaining: 5.46s
12:	learn: 0.8075843	test: 0.8268156	best: 0.8324022 (2)	total: 67.2ms	remaining: 5.11s
13:	learn: 0.8075843	test: 0.8268156	best: 0.8324022 (2)	total: 68.5ms	remaining: 4.83s
14:	learn: 0.8075843	test: 0.8268156	best: 0.8324022 (2)	total: 70.2ms	remaining: 4.61s
15:	learn: 0.8075843	test: 0.8268156	best: 0.8324022 (2)	total: 71.7ms	remaining: 4.41s
16:	learn: 0.8075843	test: 0.8268156	best: 0.8324022 (2)	total: 72.9ms	remaining: 4.21s
17:	learn: 0.8089888	test: 0.8268156	best: 0.8324022 (2)	total: 74ms	remaining: 4.04s
18:	learn: 0.8089888	test: 0.8268156	best: 0.8324022 (2)	total: 75.5ms	remaining: 3.9s
19:	learn: 0.8089888	test: 0.8268156	best: 0.8324022 (2)	total: 76.4ms	remaining: 3.74s
20:	learn: 0.8075843	test: 0.8268156	best: 0.8324022 (2)	total: 77.3ms	remaining: 3.6s
21:	learn: 0.8075843	test: 0.8268156	best: 0.8324022 (2)	total: 78.5ms	remaining: 3.49s
22:	learn: 0.8075843	test: 0.8268156	best: 0.8324022 (2)	total: 79.5ms	remaining: 3.38s
23:	learn: 0.8075843	test: 0.8268156	best: 0.8324022 (2)	total: 80.4ms	remaining: 3.27s
24:	learn: 0.8075843	test: 0.8268156	best: 0.8324022 (2)	total: 81.2ms	remaining: 3.17s
25:	learn: 0.8075843	test: 0.8268156	best: 0.8324022 (2)	total: 82.3ms	remaining: 3.08s
26:	learn: 0.8075843	test: 0.8268156	best: 0.8324022 (2)	total: 83.6ms	remaining: 3.01s
27:	learn: 0.8075843	test: 0.8268156	best: 0.8324022 (2)	total: 85.1ms	remaining: 2.95s
28:	learn: 0.8089888	test: 0.8268156	best: 0.8324022 (2)	total: 86.4ms	remaining: 2.89s
29:	learn: 0.8089888	test: 0.8268156	best: 0.8324022 (2)	total: 87.5ms	remaining: 2.83s
30:	learn: 0.8089888	test: 0.8268156	best: 0.8324022 (2)	total: 88.3ms	remaining: 2.76s
31:	learn: 0.8188202	test: 0.8324022	best: 0.8324022 (2)	total: 89.5ms	remaining: 2.71s
32:	learn: 0.8188202	test: 0.8324022	best: 0.8324022 (2)	total: 90.6ms	remaining: 2.65s
33:	learn: 0.8244382	test: 0.8324022	best: 0.8324022 (2)	total: 91.7ms	remaining: 2.61s
34:	learn: 0.8272472	test: 0.8324022	best: 0.8324022 (2)	total: 92.8ms	remaining: 2.56s
35:	learn: 0.8258427	test: 0.8324022	best: 0.8324022 (2)	total: 93.9ms	remaining: 2.52s
36:	learn: 0.8258427	test: 0.8324022	best: 0.8324022 (2)	total: 95.2ms	remaining: 2.48s
37:	learn: 0.8272472	test: 0.8324022	best: 0.8324022 (2)	total: 96.5ms	remaining: 2.44s
38:	learn: 0.8258427	test: 0.8324022	best: 0.8324022 (2)	total: 97.6ms	remaining: 2.4s
39:	learn: 0.8258427	test: 0.8324022	best: 0.8324022 (2)	total: 99ms	remaining: 2.38s
40:	learn: 0.8258427	test: 0.8324022	best: 0.8324022 (2)	total: 99.9ms	remaining: 2.33s
41:	learn: 0.8286517	test: 0.8268156	best: 0.8324022 (2)	total: 101ms	remaining: 2.31s
42:	learn: 0.8300562	test: 0.8268156	best: 0.8324022 (2)	total: 102ms	remaining: 2.27s
43:	learn: 0.8286517	test: 0.8268156	best: 0.8324022 (2)	total: 103ms	remaining: 2.24s
44:	learn: 0.8300562	test: 0.8268156	best: 0.8324022 (2)	total: 104ms	remaining: 2.21s
45:	learn: 0.8272472	test: 0.8268156	best: 0.8324022 (2)	total: 105ms	remaining: 2.18s
46:	learn: 0.8286517	test: 0.8268156	best: 0.8324022 (2)	total: 106ms	remaining: 2.15s
47:	learn: 0.8328652	test: 0.8324022	best: 0.8324022 (2)	total: 107ms	remaining: 2.13s
48:	learn: 0.8342697	test: 0.8324022	best: 0.8324022 (2)	total: 108ms	remaining: 2.1s
49:	learn: 0.8384831	test: 0.8324022	best: 0.8324022 (2)	total: 109ms	remaining: 2.08s
50:	learn: 0.8398876	test: 0.8324022	best: 0.8324022 (2)	total: 111ms	remaining: 2.06s
51:	learn: 0.8426966	test: 0.8324022	best: 0.8324022 (2)	total: 111ms	remaining: 2.03s
52:	learn: 0.8426966	test: 0.8324022	best: 0.8324022 (2)	total: 113ms	remaining: 2.01s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.8324022346
bestIteration = 2

Shrink model to first 3 iterations.

### Submission

In [19]:
test_id = test.PassengerId
pred = clf.predict(test)

In [20]:
submission = pd.DataFrame()
submission['PassengerId'] = test_id
submission['Survived'] = pred.astype(np.int)

submission.to_csv('TitanicSubmission.csv', index=False)